@model List<TMovie>


@foreach (var movie in Model)
{
    <div class="border border-danger rounded-pill p-1 text-center bg-dark">
        <p class="card__title"><strong>@movie.Name</strong></p>
    </div>
    <br />
}