@model List<TMovieCategory>

@foreach (var movie in Model)
{
    <div style="      
        border: 1px solid purple;
        padding: 1rem;
        border-radius: 2rem;">
        <p><strong>@movie.Movie.Name</strong></p>
        <button style="border-radius:2rem; background:mediumpurple;"  onclick="location.href='@Url.Action(MVC.Cliente.Clientes.Reservas())'">Reservar</button>
    </div>
    <br />
}