@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Cliente - Cadastrar";
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
    Alert alerta = ViewBag.Alerta;
}
<section class="home">
    <!-- home bg -->
    <div class="owl-carousel home__bg">
        <div class="item home__cover" data-bg="img/home/home__bg.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg2.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg3.jpg"></div>
        <div class="item home__cover" data-bg="img/home/home__bg4.jpg"></div>
    </div>
    <!-- end home bg -->

    <div class="container">
        <div class="row">
            <div class="col-12 row justify-content-between">
                <h1 class="home__title"><b>Cadastro</b></h1>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_form", Model)


