@inherits ModelWebViewPage<TClient>
@{
    ViewBag.Title = "Cliente - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Alert alerta = ViewBag.Alerta;
}
<h2>
    Clientes - Cadastrar
</h2>

@Html.Partial("_form", Model)


