@model List<TMovieCategory>
@{ 
    ViewBag.Title = "MInhaConta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 style="box-shadow: 2rem 1rem 1rem mediumpurple; color:mediumpurple; font-weight:bolder;">MinhaConta, @ViewBag.Usuario.Name</h1>
</div>


@Html.Partial("_listar-filme", Model);

<button href="@Url.Action(MVC.Cliente.Clientes.Logout())">Logout</button>
