@model List<TMovie>
@{
    Layout = "~/Areas/Cliente/Views/Shared/_Layout.cshtml";
}
<section class="home">
  
    <div class="container">
        <div class="row">
            <div class="col-12 row justify-content-between">
                <h1 class="home__title">Minha Conta, <b>@ViewBag.Usuario.Name</b></h1>
                <button type="button" class="btn btn-light" onclick="location.href='@Url.Action(MVC.Cliente.Reservas.NovaReserva())'">Reservar Filmes</button>
            </div>

        </div>
      
    </div>
    <br/>
    <p class="details__title">Algumas sugestões, segundo suas preferencias</p>
</section>

<!--<div class="container">

    <!--<h1 style="color:mediumpurple; font-weight:bolder;">MinhaConta, @ViewBag.Usuario.Name</h1>
    <br />-->-->
    <!--@*<div style="display:flex; flex-direction:row; justify-content:space-between;">*@
    <h3>Sugestões segundo suas preferencias</h3>
    
    <br />
    <div>
    </div>
</div>-->
@Html.Partial("_filmes_por_preferencia", Model)
