.colornav {
    background: #5c5c5c;
    color: #e0e0e0;
    font: 1.4rem bolder 'Poppins';
}

.title{
    font: 1.5rem  700 'Poppins';
    color: white;
}

.shadow{
    box-shadow: 1rem 1rem 1rem black;
}

.colorHeader {
    background: #5c5c5c;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: auto;
}
