@inherits ModelWebViewPage<TCategory>
@{
    ViewBag.Title = "Generos - Editar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<h2>
    Generos- Editar
</h2>

@Html.Partial("_form", Model)


