@inherits ModelWebViewPage<TReservation>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluir filme</h4>
            </div>
            <div class="modal-body">
                <label>Alterar a data de devolução para:</label>
                
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    <div class="col-lg-12">
                        @this.Label(x => x.Devolution).Class("Withdraw").Value("Até:")
                        @this.DatePicker(x => x.Devolution).Class("Withdraw").Value(DateTime.Today)
                    </div>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">
                        Não
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Sim
                    </button>
                }
            </div>
        </div>
    </div>
</div>
