@inherits ModelWebViewPage<TUser>
@{
    ViewBag.Title = "Usuario - Cadastrar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
<h2>
    Usuario - Cadastrar
</h2>

@Html.Partial("_form", Model)
