
@{
    ViewBag.Title = "PainelFuncionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Painel do Funcionario</h2>


<button onclick="@Url.Action(MVC.Admin.Usuarios.Logout())">Logout</button>