
@{
    ViewBag.Title = "PainelFuncionario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Painel do Funcionario</h2>


    <button onclick="location.href='@Url.Action(MVC.Admin.Usuarios.Logout())'">Logout</button>
</div>
<div style="
        border-bottom: 1px solid purple;
        border-radius: 1.5rem;
        display:flex;
        padding:2rem;
        ">
    <button style="background:purple; border-radius:1rem; padding:1rem; color:whitesmoke;"onclick="location.href='@Url.Action(MVC.Admin.Usuarios.Reservas())'">Nova Reserva</button>
    <button style="        
        background: purple;
        border-radius: 1rem;
        padding: 1rem;
        color: whitesmoke;
"onclick="location.href='@Url.Action(MVC.Admin.Usuarios.ReservasDeClientes())'">Listar Reservas</button>
</div>


