
@{
    ViewBag.Title = "PainelFuncionario";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Painel do Funcionario</h2>
</div>
<div style="
        border-bottom: 1px solid purple;
        border-radius: 1.5rem;
        display:flex;
        padding:2rem;
        ">
    <button style="background:purple; border-radius:1rem; padding:1rem; color:whitesmoke;" onclick="location.href='@Url.Action(MVC.Admin.Reservas.NovaReserva())'">Nova Reserva</button>
    <button style="
        background: purple;
        border-radius: 1rem;
        padding: 1rem;
        color: whitesmoke;
" onclick="location.href='@Url.Action(MVC.Admin.Reservas.Index())'">
       Visualizar todas as reservas
    </button>
    <button style="
        background: purple;
        border-radius: 1rem;
        padding: 1rem;
        color: whitesmoke;
" onclick="location.href='@Url.Action(MVC.Admin.Filmes.Index())'">
        Area de filmes
    </button>
    <button style="
        background: purple;
        border-radius: 1rem;
        padding: 1rem;
        color: whitesmoke;
" onclick="location.href='@Url.Action(MVC.Admin.Generos.Index())'">
        Area de Generos
    </button>
</div>


